*~
ido.last
ac-comphist.dat  
auto-save-list
config.el
recentf
session.1047a0cff8f6ed7d09153770761791879000000014330063
elpa
smex-items
eshell
fogus-theme.el
tramp

\#*
games/*
/emojis/
/image-dired/
/projectile-bookmarks.eld
/projectile.cache
/transient/
/url/
/var/
/.lsp-session-v1
/eln-cache/
/projects
